@model NerdCraft.Models.card

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerID" />
            <input type="hidden" asp-for="CardComp" />
            <input type="hidden" asp-for="CardName" />
            <input type="hidden" asp-for="CardNum" />
            <input type="hidden" asp-for="CardExp" />
            <input type="hidden" asp-for="CardSec" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
