@model NerdCraft.Models.seller

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SellerID" class="control-label"></label>
                <input asp-for="SellerID" class="form-control" />
                <span asp-validation-for="SellerID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ItemID" class="control-label"></label>
                <input asp-for="ItemID" class="form-control" />
                <span asp-validation-for="ItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerDesc" class="control-label"></label>
                <input asp-for="SellerDesc" class="form-control" />
                <span asp-validation-for="SellerDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerEmail" class="control-label"></label>
                <input asp-for="SellerEmail" class="form-control" />
                <span asp-validation-for="SellerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPhone" class="control-label"></label>
                <input asp-for="SellerPhone" class="form-control" />
                <span asp-validation-for="SellerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
